* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: black;
    background-color: black;
}

h1 {

}

.frontpage-landing {
    height: 600px;
    display: table;
    width: 100%;
    background-color: #111;
    text-align: center;
}

.frontpage-landing h1 {
    text-align: center;
    font-style: italic;
    margin: 0;
}

.frontpage-landing:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.frontpage-message {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 2em 0;
}

.new-argument-landing {
    height: 600px;
    display: table;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.new-argument-landing:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.new-argument-message {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 2em 0;
}






