* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: black;
    background-color: black;
    text-align: center;
}

#title {
    font-size: 1000%;
}

.frontpage-landing {
    height: 570px;
    display: table;
    width: 100%;
    margin auto auto;
    background-color: #fff;
    text-align: center;
}

.frontpage-landing h1 {
    text-align: center;
    font-style: italic;
    margin: 0;
}

.frontpage-landing:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.frontpage-message {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 2em 0;
}

.new-argument-landing {
    height: 400px;
    display: table;
    width: 100%;
    background-color: white
    text-align: center;
}

.new-argument-landing:before {
  content: '';
  display: inline-block;
  height: 100%;
  background-color: white;
  vertical-align: middle;
}

.new-argument-message {
    display: inline-block;
    vertical-align: middle;
    background-color: inherit;
    width: 100%;
    padding: 2em 0;
}

.argument-landing {
    height: 400px;
    display: table;
    width: 100%;
    background-color: white
    text-align: center;
}

.argument-landing:before {
  content: '';
  display: inline-block;
  height: 100%;
  background-color: white;
  vertical-align: middle;
}

.argument-message {
    display: inline-block;
    vertical-align: middle;
    background-color: inherit;
    width: 100%;
    padding: 2em 0;
}

#column1-wrap{
    width: 100%;
    background-color: inherit;
    height: inherit;
}

#column1{
    float: left;
    width: 50%;
    height: inherit;
    background-color: white;
    text-align: center;
}

#column2{
    float: right;
    width: 50%;
    height: inherit;
    background-color: white;
    text-align: center;
}

#clear{
    clear: both;
}

.error {
    color: red;
}

.argument-title {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 35px;
}

.person-name {
    font-style: italic;
    font-size: 25px;
}

.argument-text-box {
    width: 300px;
    height: 200px;
}

.gameplay-options {
    background-color: white;
    color: black;
    text-align: center;
}

.male {
    background-color: #A2BFDB;
}

.female {
    background-color: #FFB5FF;
}

.argument-window {
    text-align: center;
    background-color: white;
}






