* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: black;
    background-color: white;
    text-align: center;
}

#title {
    font-size: 1000%;
}

.frontpage-landing {
    height: 570px;
    display: table;
    width: 100%;
    margin auto auto;
    background-color: #fff;
    text-align: center;
}

.frontpage-title {
    vertical-align: top;
    width: 100%;
}

.indexer {
    z-index: 10;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: 0;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: 0;
}

.frontpage-landing h1 {
    text-align: center;
    font-style: italic;
    margin: 0;
}

.frontpage-landing:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.frontpage-message {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 10em 0;
}

.cover {
    position: relative;
    z-index: 1;
}

.new-argument-landing {
    height: 400px;
    display: table;
    width: 100%;
    text-align: center;
}

.new-argument-landing:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.new-argument-message {
    display: inline-block;
    vertical-align: middle;
    background-color: inherit;
    width: 100%;
    padding: 2em 0;
}

.argument-landing {
    height: 570px;
    display: table;
    width: 100%;
    text-align: center;
}

.argument-landing:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.argument-message {
    display: inline-block;
    vertical-align: middle;
    background-color: inherit;
    width: 100%;
    padding: 2em 0;
}

#column1-wrap{
    width: 100%;
    background-color: inherit;
    height: inherit;
}

#column1{
    float: left;
    width: 50%;
    height: inherit;
    text-align: center;
}

#column2{
    float: right;
    width: 50%;
    height: inherit;
    text-align: center;
}

#clear{
    clear: both;
}

.error {
    color: red;
}

.argument-title {
    color: black;
    text-align: center;
    font-size: 35px;
}

.person-name {
    font-style: italic;
    font-size: 25px;
}

.argument-text-box {
    width: 300px;
    height: 200px;
}

.gameplay-options {
    color: black;
    text-align: center;
}

.male {
    background-color: #DAEDFF;
}

.female {
    background-color: #FFE0FF;
}

.argument-window {
    text-align: center;
    background-color: white;
}

.contact-info {
    text-align: center;
    font-size: 60px;
}

.my-navbar {
    margin-bottom: 0px;
}

.red-button-large {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:150px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #810e05;
}
.red-button-large:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;
}.red-button-large:active {
  position:relative;
  top:1px;
}
/* This button was generated using CSSButtonGenerator.com */

.red-button-medium {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:120px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #810e05;
}
.red-button-medium:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;
}.red-button-medium:active {
  position:relative;
  top:1px;
}
/* This button was generated using CSSButtonGenerator.com */

.red-button-small {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #810e05;
}
.red-button-small:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;
}.red-button-small:active {
  position:relative;
  top:1px;
}
/* This button was generated using CSSButtonGenerator.com */









